.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    overflow: hidden;
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.tableContainer h1 {
    margin-top: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.bottomTable {
    width: 100%;
    overflow: auto;
}

.tableContainer .dataTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableContainer .dataTable thead tr {
    background-color: #9f212f;
    color: #fff;
}

.tableContainer .dataTable thead tr th {
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-bottom: 1px solid #7A171F;
}

.tableContainer .dataTable tbody tr td {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #E0E0E0;
}

.tableContainer .dataTable tbody tr:last-child td {
    border-bottom: none;
}

.tableContainer .dataTable tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.tableContainer .dataTable tbody tr:hover {
    background-color: #e0ddd6;
    color: #9f212f;
}

.tableContainer .dataTable tbody tr td.dataTable__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tableContainer .actionsTable {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.tableContainer .actionsTable .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.tableContainer .actionsTable .left a {
    text-transform: capitalize;
    text-decoration: none;
    color: #9f212f;
    font-weight: bold;
    cursor: pointer;
}

.tableContainer .actionsTable .button {
    padding: 0.75rem 1.5rem;
    background-color: #9f212f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.tableContainer .actionsTable .button:hover {
    background-color: #7A171F;
}

.btnsesion {
	display: block;
	padding: 0.5rem 1rem;
	width: 70%;
    margin-left: 500%;
	border-radius: 10px;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
	background: #9f212f;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
 
}

.btnsesion:hover {
	background: #7f212f;
}


/* Button Outlined */



/* Button Active Animation */

.circle {
	position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .5s linear infinite;
}
.createButton {
    font-size: 3rem;
    padding: 1rem;
    margin-left: 42rem;
    margin-right: 40rem;
    background-color: rgba(209, 209, 209, 0.74);
    border-radius: 0.5rem;
}

@keyframes animate {
    0% {
        width: 0rem;
        height: 0rem;
        opacity: .25;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
  