.Admin {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
}

.Admin .appContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
}